OldhamChem.Template/site/blog-timeline.html
<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Timeline</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Hind:400,300,700%7CMontserrat:400,700">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-stick-up-offset="95" class="rd-navbar rd-navbar-default" data-lg-auto-height="true" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <div class="rd-navbar-panel-title veil-md reveal-inline-block">
                  <h4>Timeline</h4>
                </div>
                <!-- RD Navbar Right Side Toggle-->
                <button data-rd-navbar-toggle=".right-side" class="rd-navbar-right-side-toggle veil-md"><span></span></button>
                <div class="shell">
                  <div class="range range-md-middle range-lg-top">
                    <div class="cell-md-3 left-side">
                      <div class="clearfix text-lg-left text-center">
                        <!--Navbar Brand-->
                        <div class="rd-navbar-brand"><a href="index.html"><img width='165' height='76' src='images/logo-light-165x76.png' alt=''/></a></div>
                      </div>
                    </div>
                    <div class="cell-md-9 text-md-right right-side">
                      <ul class="offset-lg-top-15 list-unstyled">
                        <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-envelope-o text-middle icon-primary"></span><a href="mailto:#" class="inset-left-10 text-middle">info@demolink.org</a></li>
                        <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-clock-o text-middle icon-primary"></span><span class="inset-left-10 text-middle">Mon–Sat: 7:00–19:00</span></li>
                        <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-phone text-middle icon-primary"></span><a href="callto:#" class="inset-left-10 text-middle">1-800-1234-567</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <div class="rd-navbar-mobile-header-wrap">
                      <!--Navbar Brand Mobile-->
                      <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='165' height='76' src='images/logo-light-165x76.png' alt=''/></a><a data-custom-toggle="rd-navbar-search-mobile" href="#" class="rd-navbar-mobile-search-toggle mdi"><span></span></a></div>
                      <!--RD Navbar Mobile Search-->
                      <div id="rd-navbar-search-mobile" class="rd-navbar-search-mobile">
                        <form action="search-results.html" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                          <div class="form-group">
                            <label for="rd-navbar-mobile-search-form-input" class="form-label">Search</label>
                            <input id="rd-navbar-mobile-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="index.html">Home</a>
                      </li>
                      <li><a href="gallery-masonry.html">Vehicle Gallery</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="gallery-masonry.html">Masonry Grid</a>
                          </li>
                          <li><a href="gallery-grid-3-columns.html">Grid With Padding</a>
                          </li>
                          <li><a href="gallery-grid-3-columns-fullwidth.html">Grid With No Padding</a>
                          </li>
                          <li><a href="gallery-cobbles.html">Cobbles Grid</a>
                          </li>
                        </ul>
                      </li>
                      <li class=" tabs-nav"><a href="services.html">Services</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="services.html#0">Transportation</a>
                          </li>
                          <li><a href="services.html#1">Logistics</a>
                          </li>
                          <li><a href="services.html#2">Towing service</a>
                          </li>
                          <li><a href="services.html#3">Maintenance leasing</a>
                          </li>
                          <li><a href="services.html#4">Distribution Services</a>
                          </li>
                          <li><a href="services.html#5">Storage</a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">Pages</a>
                        <div class="rd-navbar-megamenu">
                          <div class="row section-relative"><img src="images/megamenu-img-01-270x370.jpg" width="270" height="370" alt="" style="position:absolute; bottom:-30px; left:5px" class="img-responsive veil reveal-lg-block"/>
                            <div class="col-lg-3 veil reveal-lg-block">
                              <div>
                                <div>
                                  <p style="min-height:300px"></p>
                                </div>
                              </div>
                            </div>
                            <ul class="col-lg-3 col-md-4">
                              <li>
                                <h6><span class="small">Pages</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="about-us.html">About Us</a></li>
                                  <li><a href="prices.html">Prices</a></li>
                                  <li><a href="calculate.html">Calculate</a></li>
                                  <li><a href="team.html">Our Team</a></li>
                                  <li><a href="services-1.html">Services 1</a></li>
                                  <li><a href="services-2.html">Services 2</a></li>
                                  <li><a href="team-member.html">Team Member Profile</a></li>
                                  <li><a href="404.html">404</a></li>
                                  <li><a href="maintenance.html">Maintenance</a></li>
                                  <li><a href="comming-soon.html">Coming Soon</a></li>
                                  <li><a href="faq.html">FAQs</a></li>
                                  <li><a href="clients.html">Clients</a></li>
                                </ul>
                              </li>
                            </ul>
                            <ul class="col-lg-3 col-md-4">
                              <li>
                                <h6><span class="small">Additional Pages</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="tabs-and-accordions.html">Tabs &amp; Accordions</a></li>
                                  <li><a href="typography.html">Typography</a></li>
                                  <li><a href="forms.html">Forms</a></li>
                                  <li><a href="buttons.html">Buttons</a></li>
                                  <li><a href="grid.html">Grid</a></li>
                                  <li><a href="icons.html">Icons</a></li>
                                  <li><a href="tables.html">Tables</a></li>
                                  <li><a href="progress-bars.html">Progress bars</a></li>
                                </ul>
                              </li>
                            </ul>
                            <ul class="col-lg-3 col-md-4">
                              <li>
                                <h6><span class="small">Elements</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="header-transparent.html">Header Transparent</a></li>
                                  <li><a href="header-center-footer-light.html">Header Center, Footer Light</a></li>
                                  <li><a href="header-minimal-footer-corporate.html">Header Minimal, Footer Corporate</a></li>
                                  <li><a href="header-corporate.html">Header Corporate</a></li>
                                  <li><a href="header-hamburger-menu.html">Header Hamburger Menu</a></li>
                                  <li><a href="footer-center-dark.html">Footer Center Dark</a></li>
                                  <li><a href="footer-center-light.html">Footer Center Light</a></li>
                                  <li><a href="footer-minimal-dark.html">Footer Minimal Dark</a></li>
                                  <li><a href="footer-widget-light.html">Footer Widget Light</a></li>
                                  <li><a href="footer-widget-dark.html">Footer Widget Dark</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li class=" active"><a href="blog-default.html">Blog</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog-archive.html">Archive Page</a>
                          </li>
                          <li><a href="blog-2-columns-layout.html">2 Columns Layout</a>
                          </li>
                          <li><a href="blog-3-column-layout.html">3 Columns Grid Layout</a>
                          </li>
                          <li><a href="blog-default.html">Default Blog</a>
                          </li>
                          <li><a href="blog-left-sidebar.html">Left Sidebar</a>
                          </li>
                          <li><a href="blog-right-sidebar.html">Right Sidebar</a>
                          </li>
                          <li><a href="blog-timeline.html">Timeline</a>
                          </li>
                          <li><a href="blog-post-page.html">Post Page</a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="contacts.html">Contacts</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="contacts.html">Contacts</a>
                          </li>
                          <li><a href="contacts-variant-2.html">Contacts 2</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--RD Navbar Search-->
                <div class="rd-navbar-search"><a data-rd-navbar-toggle=".rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
                  <form action="search-results.html" data-search-live="rd-search-results-live" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                    <div class="form-group">
                      <label for="rd-navbar-search-form-input" class="form-label">Search</label>
                      <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
                      <div id="rd-search-results-live" class="rd-search-results-live"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- RD Parallax-->
      <div data-on="false" data-md-on="true" class="rd-parallax">
        <div data-speed="0.35" data-type="media" data-url="images/backgrounds/bg-01-1920x400.jpg" class="rd-parallax-layer"></div>
        <div data-speed="0" data-type="html" class="rd-parallax-layer">
          <!-- Classic Breadcrumbs-->
          <section class="breadcrumb-classic context-dark">
            <div class="shell section-35 section-lg-top-85 text-sm-left">
              <h1 class="veil reveal-sm-block">Timeline</h1>
              <div class="offset-lg-top-75 offset-sm-top-40">
                <ul class="list-inline list-inline-lg list-inline-dashed p">
                  <li><a href="index.html" class="text-light">Home</a></li>
                  <li><a href="blog-default.html" class="text-light">Blog</a></li>
                  <li class="text-light">Timeline
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
      <!-- Page Content-->
      <main class="page-content section-70 section-md-90">
        <!-- Latest news-->
        <section>
          <div class="shell text-md-left">
            <div class="text-md-center">
              <div>
                <h3>September 2016</h3>
              </div>
              <hr class="divider divider-lg bg-primary veil-md">
            </div>
            <div class="section-line-vertical offset-top-70 offset-md-top-20">
              <div class="range text-md-left range-xs-center range-md-left">
                <div class="cell-xs-10 cell-sm-8 cell-md-4 cell-md-preffix-1">
                  <article class="post-default post-timeline post-timeline-left"><a class="thumbnail-default" href="blog-post-page.html" target="_self">
                      <figure><img width="770" height="520" src="images/blog/blog-01-770x520.jpg" alt="" class="img-responsive"/></figure><span class="icon icon-xxs fa-link"></span></a>
                    <div class="offset-top-10">
                      <h5 class="text-primary text-bold post-default-title"><a href="blog-post-page.html">Truckers to Seek HOS Waiver to Ease Calif</a></h5>
                    </div>
                    <div class="offset-top-15">
                      <div class="post-meta">
                        <ul class="list-inline">
                          <li><span class="icon icon-xxs fa-calendar text-gray text-middle"></span>
                            <time datetime="2016-01-01" class="text-gray inset-left-5 text-middle">September 16, 2016, 12:20</time>
                          </li>
                          <li><span class="icon icon-xxs fa-user text-gray text-middle"></span><a href="blog-post-page.html" class="text-gray inset-left-10 text-middle">Admin</a></li>
                          <li><span class="icon icon-xxs fa-comment text-gray text-middle"></span><a href="blog-post-page.html" class="text-gray inset-left-5 text-middle">2</a></li>
                        </ul>
                      </div>
                    </div>
                    <p>Southern California port truckers, crippled by extensive delays, intend to seek the first-ever federal hours-of-service rule waiver for the sector in a bid to free up clogged cargo at the two largest U.S. ports. “The situation is dire right now,” said Mike Johnson, president of the Harbor Trucking Association and operations manager for Port Logistics Group. He told Transport Topics the waiver from the Federal Motor Carrier Safety...</p>
                    <div class="offset-top-20"><a href="blog-post-page.html" class="btn btn-primary btn-sm">learn more</a></div>
                  </article>
                </div>
                <div class="cell-xs-10 cell-sm-8 cell-md-4 cell-md-preffix-2 offset-md-top-100 offset-top-50">
                  <article class="post-default post-timeline post-timeline-right"><a class="thumbnail-default" href="blog-post-page.html" target="_self">
                      <figure><img width="770" height="520" src="images/blog/blog-02-770x520.jpg" alt="" class="img-responsive"/></figure><span class="icon icon-xxs fa-link"></span></a>
                    <div class="offset-top-10">
                      <h5 class="text-primary text-bold post-default-title"><a href="blog-post-page.html">Parking Shortage Worsens in Every City Nowadays</a></h5>
                    </div>
                    <div class="offset-top-15">
                      <div class="post-meta">
                        <ul class="list-inline">
                          <li><span class="icon icon-xxs fa-calendar text-gray text-middle"></span>
                            <time datetime="2016-01-01" class="text-gray inset-left-5 text-middle">September 24, 2016, 12:20</time>
                          </li>
                          <li><span class="icon icon-xxs fa-user text-gray text-middle"></span><a href="blog-post-page.html" class="text-gray inset-left-10 text-middle">Admin</a></li>
                          <li><span class="icon icon-xxs fa-comment text-gray text-middle"></span><a href="blog-post-page.html" class="text-gray inset-left-5 text-middle">2</a></li>
                        </ul>
                      </div>
                    </div>
                    <p>WASHINGTON — Concerns over the ongoing plight to park trucks safely is prompting a group of national and regional stakeholders to plan ways to improve parking availability, given a new Department of Transportation survey that found dire shortages in metropolitan areas. Deputy Transportation Secretary Victor Mendez said a National Coalition on Truck Parking would convene in a few months to develop...</p>
                    <div class="offset-top-20"><a href="blog-post-page.html" class="btn btn-primary btn-sm">learn more</a></div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Latest news-->
        <section class="offset-md-top-20 offset-top-110">
          <div class="shell text-md-left">
            <div class="text-center">
              <div>
                <h3>January 2016</h3>
              </div>
              <hr class="divider divider-lg bg-primary veil-md">
            </div>
            <div class="section-line-vertical offset-top-70 offset-md-top-20">
              <div class="range text-md-left range-xs-center range-md-left">
                <div class="cell-xs-10 cell-sm-8 cell-md-4 cell-md-preffix-1">
                  <article class="post-default post-timeline post-timeline-left"><a class="thumbnail-default" href="blog-post-page.html" target="_self">
                      <figure><img width="770" height="520" src="images/blog/blog-03-770x520.jpg" alt="" class="img-responsive"/></figure><span class="icon icon-xxs fa-link"></span></a>
                    <div class="offset-top-10">
                      <h5 class="text-primary text-bold post-default-title"><a href="blog-post-page.html">Don’t Push for Profitability Pull! You Need to Know:</a></h5>
                    </div>
                    <div class="offset-top-15">
                      <div class="post-meta">
                        <ul class="list-inline">
                          <li><span class="icon icon-xxs fa-calendar text-gray text-middle"></span>
                            <time datetime="2016-01-01" class="text-gray inset-left-5 text-middle">January 10, 2016, 16:40</time>
                          </li>
                          <li><span class="icon icon-xxs fa-user text-gray text-middle"></span><a href="blog-post-page.html" class="text-gray inset-left-10 text-middle">Admin</a></li>
                          <li><span class="icon icon-xxs fa-comment text-gray text-middle"></span><a href="blog-post-page.html" class="text-gray inset-left-5 text-middle">2</a></li>
                        </ul>
                      </div>
                    </div>
                    <p>Operational costs consume much of the revenue a carrier can earn and is therefore suspect in being the biggest drain on profits for most carriers. The majority of operational costs are incurred the moment the driver is dispatched to the customer’s facility for a pick up or delivery. Along the way to the customer’s dock, costs impact the carrier’s earnings in the form of fuel/oil costs, tractor/trailer payments, repair...</p>
                    <div class="offset-top-20"><a href="blog-post-page.html" class="btn btn-primary btn-sm">learn more</a></div>
                  </article>
                </div>
                <div class="cell-xs-10 cell-sm-8 cell-md-4 cell-md-preffix-2 offset-md-top-100 offset-top-50">
                  <article class="post-default post-timeline post-timeline-right"><a class="thumbnail-default" href="blog-post-page.html" target="_self">
                      <figure><img width="770" height="520" src="images/blog/blog-04-770x520.jpg" alt="" class="img-responsive"/></figure><span class="icon icon-xxs fa-link"></span></a>
                    <div class="offset-top-10">
                      <h5 class="text-primary text-bold post-default-title"><a href="blog-post-page.html">For-hire Freight Dips Slightly in January, BTS reports</a></h5>
                    </div>
                    <div class="offset-top-15">
                      <div class="post-meta">
                        <ul class="list-inline">
                          <li><span class="icon icon-xxs fa-calendar text-gray text-middle"></span>
                            <time datetime="2016-01-01" class="text-gray inset-left-5 text-middle">January 12, 2016, 12:30</time>
                          </li>
                          <li><span class="icon icon-xxs fa-user text-gray text-middle"></span><a href="blog-post-page.html" class="text-gray inset-left-10 text-middle">Admin</a></li>
                          <li><span class="icon icon-xxs fa-comment text-gray text-middle"></span><a href="blog-post-page.html" class="text-gray inset-left-5 text-middle">2</a></li>
                        </ul>
                      </div>
                    </div>
                    <p>The Bureau of Transportation Statistics (BTS) reports that the Freight Transportation Services Index (TSI) — which is based on the amount of freight carried by the for-hire transportation industry — fell 0.2 percent in January from December. This is second consecutive month of decline. The January 2015 index level (122.9) was 29.9 percent above the April 2009 low during the most recent recession. The level of freight...</p>
                    <div class="offset-top-20"><a href="blog-post-page.html" class="btn btn-primary btn-sm">learn more</a></div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Corporate footer-->
      <footer class="section-65 page-footer bg-lightest section-skew">
        <div class="skew-block"></div>
        <div class="shell">
          <div class="range range-xs-center range-sm-middle">
            <div class="cell-xs-10 cell-md-3 text-md-left cell-md-push-1">
              <!--Footer brand--><a href="index.html"><img width='164' height='76' src='images/logo-dark-164x76.png' alt=''/></a>
            </div>
            <div class="cell-xs-10 cell-md-3 text-md-right cell-md-push-3 offset-top-20 offset-md-top-0">
              <ul class="list-inline list-inline-dark">
                <li><a href="#" class="icon icon-xxs fa-facebook"></a></li>
                <li><a href="#" class="icon icon-xxs fa-twitter"></a></li>
                <li><a href="#" class="icon icon-xxs fa-pinterest"></a></li>
                <li><a href="#" class="icon icon-xxs fa-vimeo"></a></li>
                <li><a href="#" class="icon icon-xxs fa-google"></a></li>
                <li><a href="#" class="icon icon-xxs fa-rss"></a></li>
              </ul>
            </div>
            <div class="cell-xs-10 cell-md-6 cell-md-push-2 offset-top-20 offset-md-top-0">
              <p class="text-gray">&copy; <span id="copyright-year"></span> All Rights Reserved Terms of Use and <a href="privacy.html" class="text-dark">Privacy Policy</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>

OldhamChem.Template/sources/jade/pages/blog-timeline.jade
extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-thumbnail-default
include ../elements/_ui-pagination-bootstrap
//- Title
block title
  title= cfg.nav.blog.submenu.timeline.title

//- Page
block page
  //- Include text dump
  include ../dump/_blog-timeline
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.blog,
    cfg.nav,
    cfg.nav.blog.submenu.timeline.title
    )

  +breadcrumb-classic(
  cfg.nav.blog.submenu.timeline.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.blog.title,
      "href": cfg.nav.blog.href
    },
    2: {
      "title": cfg.nav.blog.submenu.timeline.title,
      "href": cfg.nav.blog.submenu.timeline.href
    }
  })

  // Page Content
  main.page-content.section-70.section-md-90
    // Latest news
    section
      .shell.text-md-left
        .text-md-center
          div
            h3=text.sect1.elem1
          hr.divider.divider-lg.bg-primary.veil-md
        .section-line-vertical.offset-top-70.offset-md-top-20
          .range.text-md-left.range-xs-center.range-md-left
            .cell-xs-10.cell-sm-8.cell-md-4.cell-md-preffix-1
              article.post-default.post-timeline.post-timeline-left
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/blog-01-770x520.jpg", "width": 770, "height": 520, "alt": ""},
                  "target": {"href":  cfg.nav.blog.submenu.postPage.href}
                })
                .offset-top-10
                  h5.text-primary.text-bold.post-default-title
                    a(href= cfg.nav.blog.submenu.postPage.href)=text.sect1.elem2
                .offset-top-15
                  .post-meta
                    ul.list-inline
                      li
                        span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                        time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")=text.sect1.elem3
                      li
                        span.icon.icon-xxs.fa-user.text-gray.text-middle
                        a(href=cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle=text.sect1.elem4
                      li
                        span.icon.icon-xxs.fa-comment.text-gray.text-middle
                        a(href=cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle=text.sect1.elem5
                p=text.sect1.elem6
                .offset-top-20
                  a(href= cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more
            .cell-xs-10.cell-sm-8.cell-md-4.cell-md-preffix-2.offset-md-top-100.offset-top-50
              article.post-default.post-timeline.post-timeline-right
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/blog-02-770x520.jpg", "width": 770, "height": 520, "alt": ""},
                  "target": {"href":  cfg.nav.blog.submenu.postPage.href}
                })
                .offset-top-10
                  h5.text-primary.text-bold.post-default-title
                    a(href= cfg.nav.blog.submenu.postPage.href)=text.sect1.elem7
                .offset-top-15
                  .post-meta
                    ul.list-inline
                      li
                        span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                        time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")=text.sect1.elem8
                      li
                        span.icon.icon-xxs.fa-user.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle=text.sect1.elem9
                      li
                        span.icon.icon-xxs.fa-comment.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle=text.sect1.elem10
                p=text.sect1.elem11
                .offset-top-20
                  a(href= cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more


    // Latest news
    section.offset-md-top-20.offset-top-110
      .shell.text-md-left
        .text-center
          div
            h3=text.sect1.elem12
          hr.divider.divider-lg.bg-primary.veil-md
        .section-line-vertical.offset-top-70.offset-md-top-20
          .range.text-md-left.range-xs-center.range-md-left
            .cell-xs-10.cell-sm-8.cell-md-4.cell-md-preffix-1
              article.post-default.post-timeline.post-timeline-left
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/blog-03-770x520.jpg", "width": 770, "height": 520, "alt": ""},
                  "target": {"href":  cfg.nav.blog.submenu.postPage.href}
                })
                .offset-top-10
                  h5.text-primary.text-bold.post-default-title
                    a(href= cfg.nav.blog.submenu.postPage.href)=text.sect1.elem13
                .offset-top-15
                  .post-meta
                    ul.list-inline
                      li
                        span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                        time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")=text.sect1.elem14
                      li
                        span.icon.icon-xxs.fa-user.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle=text.sect1.elem15
                      li
                        span.icon.icon-xxs.fa-comment.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle=text.sect1.elem16
                p=text.sect1.elem17
                .offset-top-20
                  a(href= cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more

            .cell-xs-10.cell-sm-8.cell-md-4.cell-md-preffix-2.offset-md-top-100.offset-top-50
              article.post-default.post-timeline.post-timeline-right
                +thumbnail-default({
                  "type": "thumbnail",
                  "thumb": {"src": "images/blog/blog-04-770x520.jpg", "width": 770, "height": 520, "alt": ""},
                  "target": {"href":  cfg.nav.blog.submenu.postPage.href}
                })
                .offset-top-10
                  h5.text-primary.text-bold.post-default-title
                    a(href= cfg.nav.blog.submenu.postPage.href)=text.sect1.elem18
                .offset-top-15
                  .post-meta
                    ul.list-inline
                      li
                        span.icon.icon-xxs.fa-calendar.text-gray.text-middle
                        time.text-gray.inset-left-5.text-middle(datetime="2016-01-01")=text.sect1.elem19
                      li
                        span.icon.icon-xxs.fa-user.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-10.text-middle=text.sect1.elem20
                      li
                        span.icon.icon-xxs.fa-comment.text-gray.text-middle
                        a(href= cfg.nav.blog.submenu.postPage.href).text-gray.inset-left-5.text-middle=text.sect1.elem21
                p=text.sect1.elem22
                .offset-top-20
                  a(href= cfg.nav.blog.submenu.postPage.href).btn.btn-primary.btn-sm learn more

  // Page Footer
  include ../sections/_section-footer-corporate
