OldhamChem.Template/site/services-2.html
<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Services 2</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Hind:400,300,700%7CMontserrat:400,700">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-stick-up-offset="95" class="rd-navbar rd-navbar-default" data-lg-auto-height="true" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <div class="rd-navbar-panel-title veil-md reveal-inline-block">
                  <h4>Services 2</h4>
                </div>
                <!-- RD Navbar Right Side Toggle-->
                <button data-rd-navbar-toggle=".right-side" class="rd-navbar-right-side-toggle veil-md"><span></span></button>
                <div class="shell">
                  <div class="range range-md-middle range-lg-top">
                    <div class="cell-md-3 left-side">
                      <div class="clearfix text-lg-left text-center">
                        <!--Navbar Brand-->
                        <div class="rd-navbar-brand"><a href="index.html"><img width='165' height='76' src='images/logo-light-165x76.png' alt=''/></a></div>
                      </div>
                    </div>
                    <div class="cell-md-9 text-md-right right-side">
                      <ul class="offset-lg-top-15 list-unstyled">
                        <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-envelope-o text-middle icon-primary"></span><a href="mailto:#" class="inset-left-10 text-middle">info@demolink.org</a></li>
                        <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-clock-o text-middle icon-primary"></span><span class="inset-left-10 text-middle">Mon–Sat: 7:00–19:00</span></li>
                        <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-phone text-middle icon-primary"></span><a href="callto:#" class="inset-left-10 text-middle">1-800-1234-567</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <div class="rd-navbar-mobile-header-wrap">
                      <!--Navbar Brand Mobile-->
                      <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='165' height='76' src='images/logo-light-165x76.png' alt=''/></a><a data-custom-toggle="rd-navbar-search-mobile" href="#" class="rd-navbar-mobile-search-toggle mdi"><span></span></a></div>
                      <!--RD Navbar Mobile Search-->
                      <div id="rd-navbar-search-mobile" class="rd-navbar-search-mobile">
                        <form action="search-results.html" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                          <div class="form-group">
                            <label for="rd-navbar-mobile-search-form-input" class="form-label">Search</label>
                            <input id="rd-navbar-mobile-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="index.html">Home</a>
                      </li>
                      <li><a href="gallery-masonry.html">Vehicle Gallery</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="gallery-masonry.html">Masonry Grid</a>
                          </li>
                          <li><a href="gallery-grid-3-columns.html">Grid With Padding</a>
                          </li>
                          <li><a href="gallery-grid-3-columns-fullwidth.html">Grid With No Padding</a>
                          </li>
                          <li><a href="gallery-cobbles.html">Cobbles Grid</a>
                          </li>
                        </ul>
                      </li>
                      <li class=" tabs-nav"><a href="services.html">Services</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="services.html#0">Transportation</a>
                          </li>
                          <li><a href="services.html#1">Logistics</a>
                          </li>
                          <li><a href="services.html#2">Towing service</a>
                          </li>
                          <li><a href="services.html#3">Maintenance leasing</a>
                          </li>
                          <li><a href="services.html#4">Distribution Services</a>
                          </li>
                          <li><a href="services.html#5">Storage</a>
                          </li>
                        </ul>
                      </li>
                      <li class=" active"><a href="#">Pages</a>
                        <div class="rd-navbar-megamenu">
                          <div class="row section-relative"><img src="images/megamenu-img-01-270x370.jpg" width="270" height="370" alt="" style="position:absolute; bottom:-30px; left:5px" class="img-responsive veil reveal-lg-block"/>
                            <div class="col-lg-3 veil reveal-lg-block">
                              <div>
                                <div>
                                  <p style="min-height:300px"></p>
                                </div>
                              </div>
                            </div>
                            <ul class="col-lg-3 col-md-4">
                              <li>
                                <h6><span class="small">Pages</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="about-us.html">About Us</a></li>
                                  <li><a href="prices.html">Prices</a></li>
                                  <li><a href="calculate.html">Calculate</a></li>
                                  <li><a href="team.html">Our Team</a></li>
                                  <li><a href="services-1.html">Services 1</a></li>
                                  <li><a href="services-2.html">Services 2</a></li>
                                  <li><a href="team-member.html">Team Member Profile</a></li>
                                  <li><a href="404.html">404</a></li>
                                  <li><a href="maintenance.html">Maintenance</a></li>
                                  <li><a href="comming-soon.html">Coming Soon</a></li>
                                  <li><a href="faq.html">FAQs</a></li>
                                  <li><a href="clients.html">Clients</a></li>
                                </ul>
                              </li>
                            </ul>
                            <ul class="col-lg-3 col-md-4">
                              <li>
                                <h6><span class="small">Additional Pages</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="tabs-and-accordions.html">Tabs &amp; Accordions</a></li>
                                  <li><a href="typography.html">Typography</a></li>
                                  <li><a href="forms.html">Forms</a></li>
                                  <li><a href="buttons.html">Buttons</a></li>
                                  <li><a href="grid.html">Grid</a></li>
                                  <li><a href="icons.html">Icons</a></li>
                                  <li><a href="tables.html">Tables</a></li>
                                  <li><a href="progress-bars.html">Progress bars</a></li>
                                </ul>
                              </li>
                            </ul>
                            <ul class="col-lg-3 col-md-4">
                              <li>
                                <h6><span class="small">Elements</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="header-transparent.html">Header Transparent</a></li>
                                  <li><a href="header-center-footer-light.html">Header Center, Footer Light</a></li>
                                  <li><a href="header-minimal-footer-corporate.html">Header Minimal, Footer Corporate</a></li>
                                  <li><a href="header-corporate.html">Header Corporate</a></li>
                                  <li><a href="header-hamburger-menu.html">Header Hamburger Menu</a></li>
                                  <li><a href="footer-center-dark.html">Footer Center Dark</a></li>
                                  <li><a href="footer-center-light.html">Footer Center Light</a></li>
                                  <li><a href="footer-minimal-dark.html">Footer Minimal Dark</a></li>
                                  <li><a href="footer-widget-light.html">Footer Widget Light</a></li>
                                  <li><a href="footer-widget-dark.html">Footer Widget Dark</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li><a href="blog-default.html">Blog</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog-archive.html">Archive Page</a>
                          </li>
                          <li><a href="blog-2-columns-layout.html">2 Columns Layout</a>
                          </li>
                          <li><a href="blog-3-column-layout.html">3 Columns Grid Layout</a>
                          </li>
                          <li><a href="blog-default.html">Default Blog</a>
                          </li>
                          <li><a href="blog-left-sidebar.html">Left Sidebar</a>
                          </li>
                          <li><a href="blog-right-sidebar.html">Right Sidebar</a>
                          </li>
                          <li><a href="blog-timeline.html">Timeline</a>
                          </li>
                          <li><a href="blog-post-page.html">Post Page</a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="contacts.html">Contacts</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="contacts.html">Contacts</a>
                          </li>
                          <li><a href="contacts-variant-2.html">Contacts 2</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--RD Navbar Search-->
                <div class="rd-navbar-search"><a data-rd-navbar-toggle=".rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
                  <form action="search-results.html" data-search-live="rd-search-results-live" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                    <div class="form-group">
                      <label for="rd-navbar-search-form-input" class="form-label">Search</label>
                      <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
                      <div id="rd-search-results-live" class="rd-search-results-live"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- RD Parallax-->
      <div data-on="false" data-md-on="true" class="rd-parallax">
        <div data-speed="0.35" data-type="media" data-url="images/backgrounds/bg-01-1920x400.jpg" class="rd-parallax-layer"></div>
        <div data-speed="0" data-type="html" class="rd-parallax-layer">
          <!-- Classic Breadcrumbs-->
          <section class="breadcrumb-classic context-dark">
            <div class="shell section-35 section-lg-top-85 text-sm-left">
              <h1 class="veil reveal-sm-block">Services 2</h1>
              <div class="offset-lg-top-75 offset-sm-top-40">
                <ul class="list-inline list-inline-lg list-inline-dashed p">
                  <li><a href="index.html" class="text-light">Home</a></li>
                  <li><a href="#" class="text-light">Pages</a></li>
                  <li class="text-light">Services 2
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
      <!-- Page Content-->
      <main class="page-content">
        <section class="section-70 section-md-90 section-bottom-110">
          <div class="shell text-sm-left">
            <h2>our capabilities</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
            <div class="range range-xs-center offset-top-50">
              <div class="cell-xs-10 cell-sm-5 text-sm-left"><img src="images/services-13-450x304.jpg" width="450" height="304" alt="" class="img-responsive reveal-inline-block"></div>
              <div class="cell-xs-10 cell-sm-7 offset-top-30 offset-sm-top-0">
                <p>Our supply chain services include shipping, warehousing, packaging, quality control and distribution. All these steps are well coordinated, so they don't even need your involvement. We will send you regular reports concerning your supply chains weekly or on request.</p>
                <p>Choosing our company as your transportation partner you invest into success of your business. Our reliable service and competitive rates are called to deliver you unmatched customer experience. Just provide us with the information about your cargo, pickup and delivery details, time frame, and budget, - and our specialist will find you a solution with the best performance/price ratio.</p>
                <div class="offset-top-20"><a href="services.html" class="btn btn-sm btn-primary">learn more</a></div>
              </div>
            </div>
          </div>
        </section>
        <!-- services overview-->
        <section class="section-80 section-md-top-65 section-md-bottom-90 bg-dark-blue context-dark section-skew section-skew-wide">
          <div class="skew-block"></div>
          <div class="shell text-md-left">
            <h2>services overview</h2>
            <hr class="divider divider-lg bg-primary hr-md-left-0">
            <div class="range text-md-left offset-top-50 range-xs-center">
              <div class="cell-sm-8 cell-md-6">
                <div class="unit unit-md unit-md-horizontal text-md-left">
                  <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-plane"></span></div>
                  <div class="unit-body">
                    <h4 class="text-bold">Sea &amp; Air Services</h4>
                    <p>We have contracts with world's major ocean and air carriers. No matter what type of transportation you choose - your cargo will arrive in due time to any city. We will take care of all the paperwork, leaving you only satisfaction by our services.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-8 cell-md-6 offset-top-50 offset-md-top-0">
                <div class="unit unit-md unit-md-horizontal text-md-left">
                  <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-thumbs-o-up"></span></div>
                  <div class="unit-body">
                    <h4 class="text-bold">Supply Chain Management</h4>
                    <p>If your company needs to sell their products around the world or in a particular country, we can help you. We are involved in supply chain management for manufacturers and retailers in many industries.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-8 cell-md-6 offset-top-50">
                <div class="unit unit-md unit-md-horizontal text-md-left">
                  <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled mdi fa-users"></span></div>
                  <div class="unit-body">
                    <h4 class="text-bold">Open for Partnerships</h4>
                    <p>Our company is always looking for new partners. If you are a professional with experience in logistics, customer support or marketing, we would like to work with you. Talk to our representative or fill a form to learn more.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-8 cell-md-6 offset-top-50">
                <div class="unit unit-md unit-md-horizontal text-md-left">
                  <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled mdi fa-inbox"></span></div>
                  <div class="unit-body">
                    <h4 class="text-bold">Warehousing &amp; Storage</h4>
                    <p>All of our storage facilities are equipped with climate control and are certified for food storage. We offer both short-term and long-term storage options, and guarantee the best conditions for your wares.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-90 section-skew bg-white">
          <div class="skew-block"></div>
          <div class="shell text-sm-left">
            <h2>featured services</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
            <div class="range text-left range-xs-center offset-top-50">
              <div class="cell-xs-8 cell-sm-6 cell-md-4">
                <article class="post-default"><img src="images/services/service-01-370x250.jpg" width="370" height="250" alt="" class="reveal-inline-block img-responsive">
                  <div class="inset-md-right-25">
                    <div class="offset-top-20">
                      <h5 class="text-primary"><a href="services.html">Transportation</a></h5>
                    </div>
                    <div class="offset-top-10">
                      <p>Transportation Planning develops long-term plans and policies to guide all modes of transportation.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-50 offset-sm-top-0">
                <article class="post-default"><img src="images/services/service-02-370x250.jpg" width="370" height="250" alt="" class="reveal-inline-block img-responsive">
                  <div class="inset-md-right-25">
                    <div class="offset-top-20">
                      <h5 class="text-primary"><a href="services.html#undefined2">Logistics</a></h5>
                    </div>
                    <div class="offset-top-10">
                      <p>Logistics management is the process of planning, services and related information on the route from their places of origin to the place.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-50 offset-md-top-0">
                <article class="post-default"><img src="images/services/service-03-370x250.jpg" width="370" height="250" alt="" class="reveal-inline-block img-responsive">
                  <div class="inset-md-right-25">
                    <div class="offset-top-20">
                      <h5 class="text-primary"><a href="services.html#undefined3">Towing Service</a></h5>
                    </div>
                    <div class="offset-top-10">
                      <p>No matter if you are in a personal, commercial, or industrial vehicle, we offer towing services and emergency roadside assistance 24 hours a day.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-50">
                <article class="post-default"><img src="images/services/service-04-370x250.jpg" width="370" height="250" alt="" class="reveal-inline-block img-responsive">
                  <div class="inset-md-right-25">
                    <div class="offset-top-20">
                      <h5 class="text-primary"><a href="services.html#undefined4">Maintenance Leasing</a></h5>
                    </div>
                    <div class="offset-top-10">
                      <p>We specialise in Full Maintenance Leasing (FML) contracts. The correct vehicles are selected and customised for use by the customer.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-50">
                <article class="post-default"><img src="images/services/service-05-370x250.jpg" width="370" height="250" alt="" class="reveal-inline-block img-responsive">
                  <div class="inset-md-right-25">
                    <div class="offset-top-20">
                      <h5 class="text-primary"><a href="services.html#undefined5">Distribution Services</a></h5>
                    </div>
                    <div class="offset-top-10">
                      <p>We specialise in consolidated as well as full loads to different cities. The company sends multiple vehicles to these destinations on a daily basis.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-50">
                <article class="post-default"><img src="images/services/service-06-370x250.jpg" width="370" height="250" alt="" class="reveal-inline-block img-responsive">
                  <div class="inset-md-right-25">
                    <div class="offset-top-20">
                      <h5 class="text-primary"><a href="services.html#undefined6">Storage</a></h5>
                    </div>
                    <div class="offset-top-10">
                      <p>All of our storage facilities are equipped with climate control and are certified for food storage. We offer both short-term and long-term storage options.</p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Corporate footer-->
      <footer class="section-65 page-footer bg-lightest section-skew">
        <div class="skew-block"></div>
        <div class="shell">
          <div class="range range-xs-center range-sm-middle">
            <div class="cell-xs-10 cell-md-3 text-md-left cell-md-push-1">
              <!--Footer brand--><a href="index.html"><img width='164' height='76' src='images/logo-dark-164x76.png' alt=''/></a>
            </div>
            <div class="cell-xs-10 cell-md-3 text-md-right cell-md-push-3 offset-top-20 offset-md-top-0">
              <ul class="list-inline list-inline-dark">
                <li><a href="#" class="icon icon-xxs fa-facebook"></a></li>
                <li><a href="#" class="icon icon-xxs fa-twitter"></a></li>
                <li><a href="#" class="icon icon-xxs fa-pinterest"></a></li>
                <li><a href="#" class="icon icon-xxs fa-vimeo"></a></li>
                <li><a href="#" class="icon icon-xxs fa-google"></a></li>
                <li><a href="#" class="icon icon-xxs fa-rss"></a></li>
              </ul>
            </div>
            <div class="cell-xs-10 cell-md-6 cell-md-push-2 offset-top-20 offset-md-top-0">
              <p class="text-gray">&copy; <span id="copyright-year"></span> All Rights Reserved Terms of Use and <a href="privacy.html" class="text-dark">Privacy Policy</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>

OldhamChem.Template/sources/jade/pages/services-2.jade
extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
//- Title
block title
  title= cfg.nav.pages.submenu.pageslvl1.submenu.services2.title
//- Page
block page
  //- Include text dump
  include ../dump/_section-services-overview
  include ../dump/_services-2
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.pageslvl1.submenu.services2.title
    )
  +breadcrumb-classic(
  cfg.nav.pages.submenu.pageslvl1.submenu.services2.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.title,
      "href": cfg.nav.pages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.pageslvl1.submenu.services2.title,
      "href": cfg.nav.pages.submenu.pageslvl1.submenu.services2.href
    }
  })
  // Page Content
  main.page-content
    section.section-70.section-md-90.section-bottom-110
      .shell.text-sm-left
        h2= text.sect1.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.range-xs-center.offset-top-50
          .cell-xs-10.cell-sm-5.text-sm-left
            img.img-responsive.reveal-inline-block(src="images/services-13-450x304.jpg" width="450" height="304" alt="")
          .cell-xs-10.cell-sm-7.offset-top-30.offset-sm-top-0
            p= text.sect1.elem2
            p= text.sect1.elem3
            .offset-top-20
              a(href= cfg.nav.services.href).btn.btn-sm.btn-primary learn more

    include ../sections/_section-services-overview
    section.section-90.section-skew.bg-white
      .skew-block
      .shell.text-sm-left
        h2= text.sect2.elem1
        hr.divider.divider-lg.bg-primary.hr-sm-left-0
        .range.text-left.range-xs-center.offset-top-50
          .cell-xs-8.cell-sm-6.cell-md-4
            article.post-default
              img.reveal-inline-block.img-responsive(src="images/services/service-01-370x250.jpg", width= 370, height= 250, alt= "")
              .inset-md-right-25
                .offset-top-20
                  h5.text-primary
                    a(href="services.html")= text.sect2.elem2
                .offset-top-10
                  p= text.sect2.elem3
          .cell-xs-8.cell-sm-6.cell-md-4.offset-top-50.offset-sm-top-0
            article.post-default
              img.reveal-inline-block.img-responsive(src="images/services/service-02-370x250.jpg", width= 370, height= 250, alt= "")
              .inset-md-right-25
                .offset-top-20
                  h5.text-primary
                    a(href="services.html#undefined2")= text.sect2.elem4
                .offset-top-10
                  p= text.sect2.elem5
          .cell-xs-8.cell-sm-6.cell-md-4.offset-top-50.offset-md-top-0
            article.post-default
              img.reveal-inline-block.img-responsive(src="images/services/service-03-370x250.jpg", width= 370, height= 250, alt= "")
              .inset-md-right-25
                .offset-top-20
                  h5.text-primary
                    a(href="services.html#undefined3")= text.sect2.elem6
                .offset-top-10
                  p= text.sect2.elem7
          .cell-xs-8.cell-sm-6.cell-md-4.offset-top-50
            article.post-default
              img.reveal-inline-block.img-responsive(src="images/services/service-04-370x250.jpg", width= 370, height= 250, alt= "")
              .inset-md-right-25
                .offset-top-20
                  h5.text-primary
                    a(href="services.html#undefined4")= text.sect2.elem8
                .offset-top-10
                  p= text.sect2.elem9
          .cell-xs-8.cell-sm-6.cell-md-4.offset-top-50
            article.post-default
              img.reveal-inline-block.img-responsive(src="images/services/service-05-370x250.jpg", width= 370, height= 250, alt= "")
              .inset-md-right-25
                .offset-top-20
                  h5.text-primary
                    a(href="services.html#undefined5")= text.sect2.elem10
                .offset-top-10
                  p= text.sect2.elem11
          .cell-xs-8.cell-sm-6.cell-md-4.offset-top-50
            article.post-default
              img.reveal-inline-block.img-responsive(src="images/services/service-06-370x250.jpg", width= 370, height= 250, alt= "")
              .inset-md-right-25
                .offset-top-20
                  h5.text-primary
                    a(href="services.html#undefined6")= text.sect2.elem12
                .offset-top-10
                  p= text.sect2.elem13

  // Page Footer
  include ../sections/_section-footer-corporate
