OldhamChem.Template/site/typography.html
<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Typography</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Hind:400,300,700%7CMontserrat:400,700">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-stick-up-offset="95" class="rd-navbar rd-navbar-default" data-lg-auto-height="true" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <div class="rd-navbar-panel-title veil-md reveal-inline-block">
                  <h4>Typography</h4>
                </div>
                <!-- RD Navbar Right Side Toggle-->
                <button data-rd-navbar-toggle=".right-side" class="rd-navbar-right-side-toggle veil-md"><span></span></button>
                <div class="shell">
                  <div class="range range-md-middle range-lg-top">
                    <div class="cell-md-3 left-side">
                      <div class="clearfix text-lg-left text-center">
                        <!--Navbar Brand-->
                        <div class="rd-navbar-brand"><a href="index.html"><img width='165' height='76' src='images/logo-light-165x76.png' alt=''/></a></div>
                      </div>
                    </div>
                    <div class="cell-md-9 text-md-right right-side">
                      <ul class="offset-lg-top-15 list-unstyled">
                        <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-envelope-o text-middle icon-primary"></span><a href="mailto:#" class="inset-left-10 text-middle">info@demolink.org</a></li>
                        <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-clock-o text-middle icon-primary"></span><span class="inset-left-10 text-middle">Mon–Sat: 7:00–19:00</span></li>
                        <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-phone text-middle icon-primary"></span><a href="callto:#" class="inset-left-10 text-middle">1-800-1234-567</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <div class="rd-navbar-mobile-header-wrap">
                      <!--Navbar Brand Mobile-->
                      <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='165' height='76' src='images/logo-light-165x76.png' alt=''/></a><a data-custom-toggle="rd-navbar-search-mobile" href="#" class="rd-navbar-mobile-search-toggle mdi"><span></span></a></div>
                      <!--RD Navbar Mobile Search-->
                      <div id="rd-navbar-search-mobile" class="rd-navbar-search-mobile">
                        <form action="search-results.html" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                          <div class="form-group">
                            <label for="rd-navbar-mobile-search-form-input" class="form-label">Search</label>
                            <input id="rd-navbar-mobile-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="index.html">Home</a>
                      </li>
                      <li><a href="gallery-masonry.html">Vehicle Gallery</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="gallery-masonry.html">Masonry Grid</a>
                          </li>
                          <li><a href="gallery-grid-3-columns.html">Grid With Padding</a>
                          </li>
                          <li><a href="gallery-grid-3-columns-fullwidth.html">Grid With No Padding</a>
                          </li>
                          <li><a href="gallery-cobbles.html">Cobbles Grid</a>
                          </li>
                        </ul>
                      </li>
                      <li class=" tabs-nav"><a href="services.html">Services</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="services.html#0">Transportation</a>
                          </li>
                          <li><a href="services.html#1">Logistics</a>
                          </li>
                          <li><a href="services.html#2">Towing service</a>
                          </li>
                          <li><a href="services.html#3">Maintenance leasing</a>
                          </li>
                          <li><a href="services.html#4">Distribution Services</a>
                          </li>
                          <li><a href="services.html#5">Storage</a>
                          </li>
                        </ul>
                      </li>
                      <li class=" active"><a href="#">Pages</a>
                        <div class="rd-navbar-megamenu">
                          <div class="row section-relative"><img src="images/megamenu-img-01-270x370.jpg" width="270" height="370" alt="" style="position:absolute; bottom:-30px; left:5px" class="img-responsive veil reveal-lg-block"/>
                            <div class="col-lg-3 veil reveal-lg-block">
                              <div>
                                <div>
                                  <p style="min-height:300px"></p>
                                </div>
                              </div>
                            </div>
                            <ul class="col-lg-3 col-md-4">
                              <li>
                                <h6><span class="small">Pages</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="about-us.html">About Us</a></li>
                                  <li><a href="prices.html">Prices</a></li>
                                  <li><a href="calculate.html">Calculate</a></li>
                                  <li><a href="team.html">Our Team</a></li>
                                  <li><a href="services-1.html">Services 1</a></li>
                                  <li><a href="services-2.html">Services 2</a></li>
                                  <li><a href="team-member.html">Team Member Profile</a></li>
                                  <li><a href="404.html">404</a></li>
                                  <li><a href="maintenance.html">Maintenance</a></li>
                                  <li><a href="comming-soon.html">Coming Soon</a></li>
                                  <li><a href="faq.html">FAQs</a></li>
                                  <li><a href="clients.html">Clients</a></li>
                                </ul>
                              </li>
                            </ul>
                            <ul class="col-lg-3 col-md-4">
                              <li>
                                <h6><span class="small">Additional Pages</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="tabs-and-accordions.html">Tabs &amp; Accordions</a></li>
                                  <li><a href="typography.html">Typography</a></li>
                                  <li><a href="forms.html">Forms</a></li>
                                  <li><a href="buttons.html">Buttons</a></li>
                                  <li><a href="grid.html">Grid</a></li>
                                  <li><a href="icons.html">Icons</a></li>
                                  <li><a href="tables.html">Tables</a></li>
                                  <li><a href="progress-bars.html">Progress bars</a></li>
                                </ul>
                              </li>
                            </ul>
                            <ul class="col-lg-3 col-md-4">
                              <li>
                                <h6><span class="small">Elements</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="header-transparent.html">Header Transparent</a></li>
                                  <li><a href="header-center-footer-light.html">Header Center, Footer Light</a></li>
                                  <li><a href="header-minimal-footer-corporate.html">Header Minimal, Footer Corporate</a></li>
                                  <li><a href="header-corporate.html">Header Corporate</a></li>
                                  <li><a href="header-hamburger-menu.html">Header Hamburger Menu</a></li>
                                  <li><a href="footer-center-dark.html">Footer Center Dark</a></li>
                                  <li><a href="footer-center-light.html">Footer Center Light</a></li>
                                  <li><a href="footer-minimal-dark.html">Footer Minimal Dark</a></li>
                                  <li><a href="footer-widget-light.html">Footer Widget Light</a></li>
                                  <li><a href="footer-widget-dark.html">Footer Widget Dark</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li><a href="blog-default.html">Blog</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog-archive.html">Archive Page</a>
                          </li>
                          <li><a href="blog-2-columns-layout.html">2 Columns Layout</a>
                          </li>
                          <li><a href="blog-3-column-layout.html">3 Columns Grid Layout</a>
                          </li>
                          <li><a href="blog-default.html">Default Blog</a>
                          </li>
                          <li><a href="blog-left-sidebar.html">Left Sidebar</a>
                          </li>
                          <li><a href="blog-right-sidebar.html">Right Sidebar</a>
                          </li>
                          <li><a href="blog-timeline.html">Timeline</a>
                          </li>
                          <li><a href="blog-post-page.html">Post Page</a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="contacts.html">Contacts</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="contacts.html">Contacts</a>
                          </li>
                          <li><a href="contacts-variant-2.html">Contacts 2</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--RD Navbar Search-->
                <div class="rd-navbar-search"><a data-rd-navbar-toggle=".rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
                  <form action="search-results.html" data-search-live="rd-search-results-live" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                    <div class="form-group">
                      <label for="rd-navbar-search-form-input" class="form-label">Search</label>
                      <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
                      <div id="rd-search-results-live" class="rd-search-results-live"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- RD Parallax-->
      <div data-on="false" data-md-on="true" class="rd-parallax">
        <div data-speed="0.35" data-type="media" data-url="images/backgrounds/bg-01-1920x400.jpg" class="rd-parallax-layer"></div>
        <div data-speed="0" data-type="html" class="rd-parallax-layer">
          <!-- Classic Breadcrumbs-->
          <section class="breadcrumb-classic context-dark">
            <div class="shell section-35 section-lg-top-85 text-sm-left">
              <h1 class="veil reveal-sm-block">Typography</h1>
              <div class="offset-lg-top-75 offset-sm-top-40">
                <ul class="list-inline list-inline-lg list-inline-dashed p">
                  <li><a href="index.html" class="text-light">Home</a></li>
                  <li><a href="#" class="text-light">Additional Pages</a></li>
                  <li class="text-light">Typography
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
      <!-- Page Content-->
      <main class="page-content section-70 section-md-98">
        <!-- Heading Style-->
        <section class="text-sm-left">
          <div class="shell">
            <div class="range range-xs-center range-sm-left">
              <div class="cell-xs-10 cell-sm-8">
                <h1>H1 Heading</h1>
                <p>Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.</p>
              </div>
            </div>
            <div class="range range-xs-center range-sm-left offset-top-85">
              <div class="cell-xs-10 cell-sm-8">
                <h2>H2 Heading</h2>
                <p>Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.</p>
              </div>
            </div>
            <div class="range range-xs-center range-sm-left offset-top-85">
              <div class="cell-xs-10 cell-sm-8">
                <h3>H3 Heading</h3>
                <p>Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.</p>
              </div>
            </div>
            <div class="range range-xs-center range-sm-left offset-top-85">
              <div class="cell-xs-10 cell-sm-8">
                <h4>H4 Heading</h4>
                <div>
                  <p>Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.</p>
                </div>
              </div>
            </div>
            <div class="range range-xs-center range-sm-left offset-top-85">
              <div class="cell-xs-10 cell-sm-8">
                <h5>H5 Heading</h5>
                <div>
                  <p>Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.</p>
                </div>
              </div>
            </div>
            <div class="range range-xs-center range-sm-left offset-top-85">
              <div class="cell-xs-10 cell-sm-8">
                <h6>H6 Heading</h6>
                <div>
                  <p>Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.</p>
                </div>
              </div>
            </div>
            <div class="range range-xs-center range-sm-left offset-top-85">
              <div class="cell-xs-10 cell-sm-8">
                <h3>Blockquote</h3>
                <div class="quote-classic-boxed bg-dark-blue context-dark">
                  <div class="quote-body">
                    <q>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</q>
                    <div class="offset-top-10">
                      <cite>Dennis Williams</cite>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="range range-xs-center range-sm-left offset-top-85">
              <div class="cell-xs-10 cell-sm-8">
                <h3>HTML Text Elements</h3>
                <p>Welcome to our wonderful world.<span class="text-bold">This is a bold text</span> 
                  <mark>This is a highlighted text</mark> <span>We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login</span> <span data-toggle="tooltip" data-placement="top" title="Default text" class="text-gray">Tooltips</span> <span>widgets, you will definitely have a great experience of using our web page.</span> <span class="text-strike">This is a strickethrough text</span> <span class="text-underline">This is an underlined text.</span> <a href="#">Link</a> <a href="#" class="text-picton-blue">Hover</a> <a href="#" class="text-picton-blue">Press link</a>
                </p>
              </div>
            </div>
            <div class="range range-xs-center range-sm-left offset-top-85">
              <div class="cell-xs-10 cell-sm-8">
                <h3>Unordered List</h3>
                <p>We specialize in a variety of logistics services. Our aim is to deliver the top level of logistics based on your requests.</p>
                <ul class="list-marked list offset-top-10">
                  <li>Storage</li>
                  <li>Delivery time slots</li>
                  <li>Contact delivery of documents</li>
                  <li>Forwarding</li>
                  <li>Redirection</li>
                </ul>
                <p>We hope that with our services you will receive the most personalized help in transporting any kind of cargos to any distances, even overseas.</p>
              </div>
            </div>
            <div class="range range-xs-center range-sm-left offset-top-85">
              <div class="cell-xs-10 cell-sm-8">
                <h3>Ordered List</h3>
                <p>We specialize in a variety of logistics services. Our aim is to deliver the top level of logistics based on your requests.</p>
                <ol class="list list-numbered text-left">
                  <li><span>Storage</span></li>
                  <li><span>Delivery time slots</span></li>
                  <li><span>Contact delivery of documents</span></li>
                  <li><span>Forwarding</span></li>
                  <li><span>Redirection</span></li>
                </ol>
                <p>We hope that with our services you will receive the most personalized help in transporting any kind of cargos to any distances, even overseas.</p>
              </div>
            </div>
            <div class="offset-top-50 offset-lg-top-85">
              <div class="text-sm-left">
                <h3>Icon List</h3>
              </div>
              <div class="range text-md-left">
                <div class="cell-sm-8 cell-md-4 offset-top-50 offset-md-top-0">
                  <div class="unit unit-sm unit-sm-horizontal text-sm-left">
                    <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-thumbs-up"></span></div>
                    <div class="unit-body">
                      <h4 class="text-bold">Best Service</h4>
                      <p>Our mission is to attract and retain customers by providing Best in Class transportation solutions and fostering a profitable, disciplined culture of safety, service, and trust.</p>
                    </div>
                  </div>
                </div>
                <div class="cell-sm-8 cell-md-4 offset-top-50 offset-md-top-0">
                  <div class="unit unit-sm unit-sm-horizontal text-sm-left">
                    <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-users"></span></div>
                    <div class="unit-body">
                      <h4 class="text-bold">Reputation</h4>
                      <p>We have established a strong presence in the transportation industry. Our award-winning services earn a reputation for quality and excellence that few can rival.</p>
                    </div>
                  </div>
                </div>
                <div class="cell-sm-8 cell-md-4 offset-top-50 offset-md-top-0">
                  <div class="unit unit-sm unit-sm-horizontal text-sm-left">
                    <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled mdi fa-lock"></span></div>
                    <div class="unit-body">
                      <h4 class="text-bold">Safety & Security</h4>
                      <p>Safety for our employees, customers and motoring public will always remain our primary focus in all the policies, procedures and programs that govern our business.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="range range-xs-center range-sm-left text-sm-left offset-top-60 offset-sm-top-110">
              <div class="cell-xs-10 cell-sm-8">
                <h3>Image Centered</h3>
                <div class="offset-top-20"><img width="770" height="485" src="images/vehicle-770x485.jpg" alt="" class="img-responsive"></div>
                <p class="text-gray">Fast. Cheap. Painless.</p>
                <div class="offset-top-20">
                  <p>Our goal is to provide our clients with professional freight services that add value to the overall supply chain and assist our customers in the growth and success of their business with mutually beneficial results. If you want a customized solution, we deliver global coverage and managed costs.</p>
                </div>
              </div>
            </div>
            <div class="range range-xs-center range-sm-left offset-top-87 text-sm-left">
              <div class="cell-xs-10 cell-sm-8">
                <h3>Image Left</h3>
                <div class="range offset-top-50">
                  <div class="cell-sm-6"><img width="350" height="220" src="images/vehicle-350x220.jpg" alt="" class="img-responsive reveal-inline-block"></div>
                  <div class="cell-sm-6">
                    <p>If your company needs to establish a supply chain, we have prepared several readymade solutions with flexible pricing rates for you. Our urgent cargo services offer defined time frames for convenience of your business. Our supply chain services include shipping, warehousing, packaging, quality control and distribution.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="range range-xs-center range-sm-left offset-top-85 text-sm-left">
              <div class="cell-xs-10 cell-sm-8">
                <h3>Image Right</h3>
                <div class="range offset-top-50">
                  <div class="cell-sm-6 cell-sm-push-2"><img width="350" height="220" src="images/vehicle-350x220.jpg" alt="" class="img-responsive reveal-inline-block"></div>
                  <div class="cell-sm-6 cell-sm-push-1">
                    <p>If your company needs to establish a supply chain, we have prepared several readymade solutions with flexible pricing rates for you. Our urgent cargo services offer defined time frames for convenience of your business. Our supply chain services include shipping, warehousing, packaging, quality control and distribution.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Corporate footer-->
      <footer class="section-65 page-footer bg-lightest section-skew">
        <div class="skew-block"></div>
        <div class="shell">
          <div class="range range-xs-center range-sm-middle">
            <div class="cell-xs-10 cell-md-3 text-md-left cell-md-push-1">
              <!--Footer brand--><a href="index.html"><img width='164' height='76' src='images/logo-dark-164x76.png' alt=''/></a>
            </div>
            <div class="cell-xs-10 cell-md-3 text-md-right cell-md-push-3 offset-top-20 offset-md-top-0">
              <ul class="list-inline list-inline-dark">
                <li><a href="#" class="icon icon-xxs fa-facebook"></a></li>
                <li><a href="#" class="icon icon-xxs fa-twitter"></a></li>
                <li><a href="#" class="icon icon-xxs fa-pinterest"></a></li>
                <li><a href="#" class="icon icon-xxs fa-vimeo"></a></li>
                <li><a href="#" class="icon icon-xxs fa-google"></a></li>
                <li><a href="#" class="icon icon-xxs fa-rss"></a></li>
              </ul>
            </div>
            <div class="cell-xs-10 cell-md-6 cell-md-push-2 offset-top-20 offset-md-top-0">
              <p class="text-gray">&copy; <span id="copyright-year"></span> All Rights Reserved Terms of Use and <a href="privacy.html" class="text-dark">Privacy Policy</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>

OldhamChem.Template/sources/jade/pages/typography.jade
extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//- Title
block title
  title= cfg.nav.pages.submenu.aditionalPages.submenu.typography.title

//- Page
block page

  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoLight,
    cfg.nav.pages,
    cfg.nav,
    cfg.nav.pages.submenu.aditionalPages.submenu.typography.title
    )

  +breadcrumb-classic(
    cfg.nav.pages.submenu.aditionalPages.submenu.typography.title,
    {0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.submenu.aditionalPages.title,
      "href": cfg.nav.pages.submenu.aditionalPages.href
    },
    2: {
      "title": cfg.nav.pages.submenu.aditionalPages.submenu.typography.title,
      "href": cfg.nav.pages.submenu.aditionalPages.submenu.typography.href
    }
   })

  // Page Content
  main.page-content.section-70.section-md-98

    // Heading Style
    section.text-sm-left
      .shell
        .range.range-xs-center.range-sm-left
          .cell-xs-10.cell-sm-8
            h1 H1 Heading
            p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h2 H2 Heading
            p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h3 H3 Heading
            p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h4 H4 Heading
            div
              p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h5 H5 Heading
            div
              p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h6 H6 Heading
            div
              p Our transportation company with 30 years of experience is your best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h3 Blockquote
            .quote-classic-boxed.bg-dark-blue.context-dark
              .quote-body
                q Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
                .offset-top-10
                  cite Dennis Williams
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h3 HTML Text Elements
            p Welcome to our wonderful world.
              span.text-bold This is a bold text
              = " "
              mark This is a highlighted text
              = " "
              span We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login
              = " "
              span.text-gray(data-toggle="tooltip" data-placement="top" title="Default text") Tooltips
              = " "
              span widgets, you will definitely have a great experience of using our web page.
              = " "
              span.text-strike This is a strickethrough text
              = " "
              span.text-underline This is an underlined text.
              = " "
              a(href="#") Link
              = " "
              a(href="#").text-picton-blue Hover
              = " "
              a(href="#").text-picton-blue Press link
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h3 Unordered List
            p We specialize in a variety of logistics services. Our aim is to deliver the top level of logistics based on your requests.
            ul.list-marked.list.offset-top-10
              li Storage
              li Delivery time slots
              li Contact delivery of documents
              li Forwarding
              li Redirection
            p We hope that with our services you will receive the most personalized help in transporting any kind of cargos to any distances, even overseas.
        .range.range-xs-center.range-sm-left.offset-top-85
          .cell-xs-10.cell-sm-8
            h3 Ordered List
            p We specialize in a variety of logistics services. Our aim is to deliver the top level of logistics based on your requests.
            ol.list.list-numbered.text-left
              li
                span Storage
              li
                span Delivery time slots
              li
                span Contact delivery of documents
              li
                span Forwarding
              li
                span Redirection
            p We hope that with our services you will receive the most personalized help in transporting any kind of cargos to any distances, even overseas.

        .offset-top-50.offset-lg-top-85
          .text-sm-left
            h3 Icon List
          .range.text-md-left
            .cell-sm-8.cell-md-4.offset-top-50.offset-md-top-0
              .unit.unit-sm.unit-sm-horizontal.text-sm-left
                .unit-left
                  span.icon.icon-lg.icon-circle.icon-primary-filled.fa-thumbs-up
                .unit-body
                  h4.text-bold Best Service
                  p Our mission is to attract and retain customers by providing Best in Class transportation solutions and fostering a profitable, disciplined culture of safety, service, and trust.
            .cell-sm-8.cell-md-4.offset-top-50.offset-md-top-0
              .unit.unit-sm.unit-sm-horizontal.text-sm-left
                .unit-left
                  span.icon.icon-lg.icon-circle.icon-primary-filled.fa-users
                .unit-body
                  h4.text-bold Reputation
                  p We have established a strong presence in the transportation industry. Our award-winning services earn a reputation for quality and excellence that few can rival.
            .cell-sm-8.cell-md-4.offset-top-50.offset-md-top-0
              .unit.unit-sm.unit-sm-horizontal.text-sm-left
                .unit-left
                  span.icon.icon-lg.icon-circle.icon-primary-filled.mdi.fa-lock
                .unit-body
                  h4.text-bold Safety & Security
                  p Safety for our employees, customers and motoring public will always remain our primary focus in all the policies, procedures and programs that govern our business.

        .range.range-xs-center.range-sm-left.text-sm-left.offset-top-60.offset-sm-top-110
          .cell-xs-10.cell-sm-8
            h3 Image Centered
            .offset-top-20
              img.img-responsive(width=770 height=485 src="images/vehicle-770x485.jpg" alt="")
            p.text-gray Fast. Cheap. Painless.
            .offset-top-20
              p Our goal is to provide our clients with professional freight services that add value to the overall supply chain and assist our customers in the growth and success of their business with mutually beneficial results. If you want a customized solution, we deliver global coverage and managed costs.

        .range.range-xs-center.range-sm-left.offset-top-87.text-sm-left
          .cell-xs-10.cell-sm-8
            h3 Image Left
            .range.offset-top-50
              .cell-sm-6
                img.img-responsive.reveal-inline-block(width=350 height=220 src="images/vehicle-350x220.jpg" alt="")
              .cell-sm-6
                p If your company needs to establish a supply chain, we have prepared several readymade solutions with flexible pricing rates for you. Our urgent cargo services offer defined time frames for convenience of your business. Our supply chain services include shipping, warehousing, packaging, quality control and distribution.

        .range.range-xs-center.range-sm-left.offset-top-85.text-sm-left
          .cell-xs-10.cell-sm-8
            h3 Image Right
            .range.offset-top-50
              .cell-sm-6.cell-sm-push-2
                img.img-responsive.reveal-inline-block(width=350 height=220 src="images/vehicle-350x220.jpg" alt="")
              .cell-sm-6.cell-sm-push-1
                p If your company needs to establish a supply chain, we have prepared several readymade solutions with flexible pricing rates for you. Our urgent cargo services offer defined time frames for convenience of your business. Our supply chain services include shipping, warehousing, packaging, quality control and distribution.


  // Page Footer
  include ../sections/_section-footer-corporate
